apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ app_name }}-deployment"
  namespace: "{{ namespace }}"
  labels:
    app: "{{ app_name }}"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: "{{ app_name }}"
  template:
    metadata:
      labels:
        app: "{{ app_name }}"
    spec:
      containers:
      - name: "{{ app_name }}"
        image: "{{ image_repository }}:{{ image_tag }}"
        ports:
        - containerPort: 8080
        env:
        - name: APP_VERSION
          value: "{{ app_version }}"